<!DOCTYPE html>
<html>

  <head>
    <title>SmallTasks Todo List</title>

    <script>
      //Post data to API function
      async function postAPI(jsonData){

        try{

          const response = await fetch("/{{listID}}/api", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(jsonData)
          });

        }
        catch(error){
          console.warn(error);
        }

      }

      async function getData(){

        try{

          const response = await fetch("/{{listID}}/api")
          const responseJSON = await response.json()
          return responseJSON
        }
        catch(error){
          console.warn(error);
        }
      }

      async function addTask(){
        let task = document.getElementById("taskInput").value;

        //Check if user didn't type anything
        if(task == ""){
          //If they didn't tell user and return
          alert("You must add something into the taskbox!");
          return;
        }
        await postAPI({type: "add", data: task});
        let todoData = await getData();
        let todoList = todoData["data"]

        createList(todoList);

        document.getElementById("taskInput").value = "";
      }

      function createList(todoData){
        if(todoData == "nothing" || todoData.length == 0){
          document.getElementById("list").innerHTML = "Nothing in the list... <br> Add a task below!";
          return
        }
        let listString = ""
        for(let i = 0; i < todoData.length; i++){
          listString = listString + "<br>" + (i+1) + ". " + todoData[i];
        }
        document.getElementById("list").innerHTML = listString;
      }

      async function removeTask(){
        let itemNum = document.getElementById("item").value;

        //Check if user entered anything
        if(itemNum == ""){
          //If they didn't alert user
          alert("You must enter a task to be removed!")
        }

        let response = await postAPI({type: "remove", item: itemNum});

        //Check for response
        if(response == "Item not in list"){
          alert("The task to be removed does not exist!");
          return
        }else if(response == "List does not exist"){
          alert("There is nothing in the list");
          return
        }

        let todoData = await getData();
        createList(todoData["data"]);

        document.getElementById("item").value = "";
      }

      getData()
      .then(data => createList(data["data"]))
    </script>
  </head>

  <body>
    <p id="list">Loading list {{listID}}...</p>
    <br>
    <input type="text" id="taskInput" placeholder="Type new task">
    <button onclick="addTask()">Add task</button>

    <br>

    <input type="number" id="item">
    <button onclick="removeTask()">Remove task</button>
  </body>
</html>